@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    sans-serif;
}

.leaflet-container {
  height: 320px;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
}
